/**
 * Created by crispin on 20/02/16.
 */
/* Applicable to all pages. */
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: darkgrey;
}
#header {
    background-color: chartreuse;
    text-align: center;
    height: 6%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;

}
#header a {
    top: 50%;
    bottom: 50%;
    color: white;
}
#header img {
    top: 50%;
    bottom: 50%;
}
/* Applicable to only the app page. */
form {
    height: 93%;
    position: relative;

}
textarea{
    width: 98%;
    height: 98%;
    text-align: left;
    resize: none;
}
#user_form {
    text-align: left;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 50%;
    width: 50%;
}
#computer_form {
    text-align: right;
    position: absolute;
    bottom: 0%;
    left: 50%;
    right: 0%;
    width: 50%;
}

/* Applicable to only the About pages */

#text_content {
    background-color: white;
    top: 15%;
    padding-top: 3%;
    padding-bottom: 15%;
}
#text_content h2 {
    text-align: center;
}