/**
 * Created by crispin on 20/02/16.
 */
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: darkgrey;
}
#header {
    background-color: chartreuse;
    text-align: center;
    height: 3em;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;

}
#header b {
    top: 50%;
    bottom: 50%;
    color: white;
}
#header p {
    height: 1em;
}
textarea{
    /*background-color: aqua;*/
    /*border-color: black;*/
    /*border-style: solid;*/
    /*border: 50px;*/
    width: 98%;
    height: 68em;
    text-align: left;
    resize: none;
}
#user_form {
    text-align: left;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 50%;
    width: 50%;
}
#computer_form {
    text-align: right;
    position: absolute;
    bottom: 0%;
    left: 50%;
    right: 0%;
    width: 50%;
}